*{
    padding: 0;
    margin: 0;
}

@media screen and ( max-width:767px)
{
    h1{
        text-align: center;
        font-size: 40px;
    }

    .hd-1 img{
        position: absolute;
        justify-content: center;
        left: -38%;
        width: 180%;
        height: 60vh;
    }

    .dropdown{
        display: none;
    }

    .me{
        display: block;
    }

    .me img{
        width: 80%;
        padding: 0 10%;
        margin-bottom: 30px;
        text-align: center;
    }

    .me ul{
        width: 93%;
        margin: 0;
        padding: 10px;
    }

    ul{
        margin: 0;
    }

    .works{
        text-align: center;
        width: 80%;
        padding: 0 10%;
    }
    .slider{
        width: 80%;
        padding: 0;
    }

    .slick-prev {/*戻る矢印の位置と形状*/
        visibility: hidden;
    }
    
    .slick-next {/*次へ矢印の位置と形状*/
        visibility: hidden;
    }

    ul.slick-dots {
        padding: 20px 0;
        margin: 0;
    }

    .slick-dots button {
        color: transparent;
        outline: none;
        width:2px;/*ドットボタンのサイズ*/
        height:2px;/*ドットボタンのサイズ*/
        display:block;
        border-radius:50%;
        background:#ccc;/*ドットボタンの色*/
    }

    footer{
        font-size: 10px;
    }

    footer li a{
        font-size: 12px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){


    .hd-1 img{
        position: absolute;
        justify-content: center;
        left: -15%;
        width: 70%;
        height: 60vh;
    }

    .me{
        display: flex;
        justify-content: space-around;
        width: 70%;
        padding: 5px;
    }

    .me img{
        width: 40%;
        height: 40%;
        padding: 0 10%;
        text-align: center;
    }

    .me{
        display: block;
        position: relative;
        justify-content: center;
        width: 80%;
        padding: 5% 0;
        margin-bottom: 30vh;
    }
    
    .me ul{
        font-size: 20px;
    }

    .me-li{
        display: block;
        position: absolute;
    }

    .me-ul{
        position:absolute;
        width: 40%;
        top: 13%;
        right: -20%;
    }

    #me-text{
        position: absolute;
        overflow-wrap: break-word;
        right: 2%;
        width: 68vh;
        height: 50%;
        padding: 5% 0;
        margin-top: 10px;
    }

    .works{
        text-align: center;
        width: 80%;
        padding: 0 10%;
    }
    .slider{
        width: 80%;
        padding: 0;
    }

    .slick-prev {/*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
        margin: -30px;
    }
    
    .slick-next {/*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg); 
        margin: -30px;
    }
    
    .slick-dots{
        text-align:center;
        padding: 0;
        margin: 0;
    }

    footer{
        padding-top: 30px;
    }
}